.cdx-realtime-block--selected .ce-block__content {
    position: relative;
}

.cdx-realtime-block--selected:not(.ce-block--drop-target) .ce-block__content::before {
    content: '';
    position: absolute;
    inset: 0px;
    z-index: -1;
    background-color: #e1f2ff99;
}
.cdx-realtime-block--selected .ce-block__content [contenteditable] {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.cdx-realtime-block--selected .ce-block__content img,
.cdx-realtime-block--selected .ce-block__content .ce-stub {
    opacity: 0.55;
}
