.codex-editor__redactor {
    position: relative;
}

.cdx-realtime-block--selected .ce-block__content {
    position: relative;
}

.cdx-realtime-block--selected:not(.ce-block--drop-target) .ce-block__content::before {
    content: '';
    position: absolute;
    inset: 0px;
    z-index: -1;
    background-color: #e1f2ff99;
}

.cdx-realtime-block--delete-pending .ce-block__content::before {
    content: '';
    position: absolute;
    inset: 0px;
    z-index: -1;
    background-color: #E24A4A;
}

.cdx-realtime-block--selected .ce-block__content [contenteditable] {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cdx-realtime-block--selected .ce-block__content img,
.cdx-realtime-block--selected .ce-block__content .ce-stub {
    opacity: 0.55;
}

.cdx-realtime-inline-cursor {
    position: absolute;
    background-color: var(--realtime-inline-cursor-color, #0d0c0f);
    width: 2px;
    height: 1ch;
    transform: translateX(-50%);
    animation: cursor-blink 0.6s 1s infinite alternate ease-in-out;
    -webkit-animation: cursor-blink 0.6s 1s infinite alternate ease-in-out;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}


@keyframes cursor-blink {

    0%,
    30% {
        background-color: var(--realtime-inline-cursor-color, #0d0c0f);
    }

    100%,
    70% {
        background-color: transparent;
    }
}

.cdx-realtime-block--locked {
    pointer-events: none;
    opacity: 0.6;
}


.cdx-realtime-inline-selection {
    position: absolute;
    background-color: var(--realtime-inline-selection-color, #0d0c0f33);
    opacity: 0.5;
    pointer-events: none;
}